# ambil key api grok anda
GROQ_API_KEY=

# local environment  anda jika production tambahin link production web fe anda
NEXT_PUBLIC_APP_URL=http://localhost:3000
# ambil key api midtrans client anda
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
# ambil key api midtrans server anda 
SECRET_MIDTRANS_SERVER_KEY=

# ambil key api fontee anda
FONNTE_API_KEY=
